@import "tailwindcss";

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes floatProduct {
  0% {
    transform: translateY(0px) rotate(-2deg);
  }
  50% {
    transform: translateY(-18px) rotate(1deg);
  }
  100% {
    transform: translateY(0px) rotate(-2deg);
  }
}

.product-float {
  animation: floatProduct 4.5s ease-in-out infinite;
}